.top{
    width: 100%;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    background-color: #3299FF;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 5%;
    background-color: #3299FF;
    
}
footer p{
    color: white;
}