.home>input[type=number]{
    width: 90%;
    margin: 0 5%;
    border-radius: 10px;
    border: 1px solid gray;
    line-height: 2;
}
.home>input[type=button]{
    background-color: #3299FF;
    width: 90%;
    margin: 0 5%;
    border-radius: 10px;
    line-height: 2;
    color: white
}
main>.p{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
}
main input{
    width: 40px;
}
