.panel {
    margin: 55px 10px;
    padding: 1px 10px;
    background-color: white;
    color: #555;
    font-size: 13px;
}
.panel h3{
font-weight: normal;
color: #333;
}
.kk{
    background-color: #3299FF;
    width: 100%;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    color: white;
}