<main>
  <p class="p">
    <span>
      养老金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.yanglaojinfeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>
      医疗金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.yiliaojinfeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>
      失业金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.shiyejinfeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>
      工伤金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.gongshangjinfeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>

      生育费&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.shengyufeifeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>
      公积金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.gongjijinfeilv' type="number">%
    </span>
  </p>
  <br>
  <p class="p">
    <span>
      社保金&#x3000;

    </span>
    <span>
      <input [(ngModel)]='this.feilv.shebaojinfeilv' type="number">%</span>
  </p>
  <br>
</main>