body{
    height: 100%;
}
html{
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
section>div:nth-of-type(2n+1){
    background-color: orange;
    width: 20%;
    height: 50%;
}
section>div:nth-of-type(2n+2){
    background-color: gray;
    width: 20%;
    height: 50%;
}