<p class="kk"> {{titles}}</p>
<div class="secc">
  <p class="sees">
    <span>养老费率</span>
    <span><input type="number" [(ngModel)]='feilv.yanglaofeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>医疗费率</span>
    <span><input type="number" [(ngModel)]='feilv.yiliaofeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>失业费率</span>
    <span><input type="number" [(ngModel)]='feilv.shiyefeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>工伤费率</span>
    <span><input type="number" [(ngModel)]='feilv.gongshangfeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>生育费率</span>
    <span><input type="number" [(ngModel)]='feilv.shengyufeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>公积金费率</span>
    <span><input type="number" [(ngModel)]='feilv.gongjijinfeilv'>%</span>
  </p>
  <hr>
  <p class="sees">
    <span>社保统筹</span>
    <span>20元</span>
  </p>
</div>